name: "build-scaffold-tauri-happ"
on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push: 
    branches: [ main, develop ]
  pull_request:
    branches: [ main, develop ]

jobs:
  build-scaffold-tauri-happ:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Extend space
        if: ${{ matrix.os == 'ubuntu-latest' }}
        uses: ./.github/actions/extend-space

      - name: Install nix
        uses: cachix/install-nix-action@v25
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - uses: cachix/cachix-action@v14
        with:
          name: holochain-ci

      - uses: cachix/cachix-action@v14
        with:
          name: holochain-open-dev

      - uses: cachix/cachix-action@v14
        with:
          name: darksoil-studio

      - name: Build scaffold-tauri-happ
        env:
          CACHIX_AUTH_TOKEN: "${{ secrets.DARKSOIL_CACHIX_AUTH_TOKEN }}"
        run: |
          nix build --accept-flake-config -L .#scaffold-tauri-happ
          cachix push darksoil-studio $(nix path-info --accept-flake-config .#scaffold-tauri-happ)

      - name: Test scaffold-tauri-happ
        run: |
          cargo test -p scaffold-tauri-happ
          sh ./crates/scaffold-tauri-happ/run_test.sh

      - name: Cache scaffold-tauri-happ
        if: github.event_name != 'pull_request' && github.ref_name == 'main'
        env:
          CACHIX_AUTH_TOKEN: "${{ secrets.DARKSOIL_CACHIX_AUTH_TOKEN }}"
        run: |
          nix build --accept-flake-config -L .#scaffold-tauri-happ
          cachix push darksoil-studio $(nix path-info --accept-flake-config .#scaffold-tauri-happ)
          cachix pin darksoil-studio scaffold-tauri-happ $(nix path-info --accept-flake-config .#scaffold-tauri-happ)

